
h1{
    font-size: 20px;
    margin-bottom: 50px;
    color: black;
}

.itens{
    border: 2px solid black;
    width: 90px;
    height: 90px;
    margin: 15px;
    background-color: yellow;
    text-align: center;
    font-size: 20px;
    color: black;
}

.item1{
    order: 2;
}

.item2{
    order: 3;
}

.item3{
    order: 1;
}



.flex-start{
    width: 700px;
    height: 150px;
    background-color: blueviolet;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center{
    width: 700px;
    height: 150px;
    background-color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end{
    width: 700px;
    height: 150px;
    background-color: blueviolet;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.space-between{
    width: 700px;
    height: 150px;
    background-color: blueviolet;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-around{
    width: 700px;
    height: 150px;
    background-color: blueviolet;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space-evenly{
    width: 700px;
    height: 150px;
    background-color: blueviolet;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}